<form action='/compute' method='POST'>
    <label for='caption'>Caption</label><br>
    <input type='text' name='caption' id='caption'><br><br>

    <label for='emotion'>Emotion</label><br>
    <input type='text' name='emotion' id='emotion'>

    <input type='submit'></input>
</form>